a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
}

img {
    width: auto;
    height: 30px;
}

p {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    background-color: gainsboro;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px grey;
    color: black;
}

.subcard {
    width: 90%;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}