.graveyard-container a {
    margin-left: 16px;
}

.graveyard-container h1 {
    margin-top: 16px;
    text-align: center;
    font-size: 20px;
}

.graveyard-tombstones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}