.modal {
    position: absolute;
    width: 80%;
    height: 200px;
    background-color: gainsboro;
    margin: 150px 25px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    color: black;
}

.p-modal {
    text-align: center;
}
