h1 {
    margin: 30px 0;
    font-size: 2.5rem !important;
    text-decoration: underline;
    text-align: center;
}

form {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
}

input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

input:focus {
    outline: 3px solid lightskyblue;
}

button {
    background-color: lightblue;
    border-radius: 5px;
}

img {
    width: 50px;
    height: auto;
}

p {
    margin: 10px 0;
}

.tamagotchis-home {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.choice-action {
    width: 210px;
    height: 210px;
    background-color: gainsboro;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 1.5rem;
}

.choice-action:hover {
    background-color: silver;
    cursor: pointer;
}
