img {
    width: auto;
    height: 50px;
}

h1 {
    font-size: 1.5rem !important;
}

p {
    margin: 5px 0px;
}

.longname {
    word-break: break-all;
}

.tombstone-container {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: 200px;
    border-radius: 40px 40px 0 0;
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.tombstone-engravings {
    background-color: lightgray;
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px #00000032;
}