button {
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
}

.users-container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.users-container input {
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.users-list-global {
    margin-bottom: 24px;
}

.users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-list li {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.users-form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}