.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-routes {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.game {
  width: 500px;
  height: auto;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

a:link {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

a:hover {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}
